
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for ordering from  jungle.com</h1>
    <p>
      Your order, <%= @order.id %>, has successfully been placed
    </p>
    <p>
      To login to the site, just follow this link: @order.url
    </p>
    <p>Thanks for ordering and have a great day!</p>
  </body>
</html
